<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Personal Settings</title>
</head>
<body>
    <nav>
        <h4><a class="text-white text-decoration-none" href="/">Clark Stack Overflow</a></h4>
        <ul>
            <li><a href="/">Profile Page</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
        </ul>
    </nav>

    <div class="containter mt-4" align="center">
        {{#if message_fail }}
            <h4 class="alert alert-danger mt-4">{{message_fail}}</h4>
        {{/if}}
        {{#if message_success}}
            <h4 class="alert alert-success mt-4">{{message_success}}</h4>
        {{/if}}

        <!--update name--->
        <div class="card" style="width: 50rem">
        <div class="card-header">
            Update my Name
        </div>
        <div class="card-body" align="left">
            <form action="/auth/update_name" method="POST">
            <div class="form-group">
                <label for="name">First Name</label>
                <input type="name" class="form-control" placeholder={{user.fname}} id="first_name" name="newFName" required>

                <label for="name">Last Name</label>
                <input type="name" class="form-control" placeholder={{user.lname}} id="last_name" name="newLName" required>
                <small id="small" class="form-text text-muted">Please fill out both first and last name even if you only want to update one field</small>
            </div>
            <button type="submit" class="btn btn-primary">Update Name</button>
            </form>
        </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

</body>
